<div class="container">
    <div class="row">
      <div class="col-*-1">
        <h1>The Weekly Daily</h1>
        <h2>Your Week's Worth Of News, Daily.</h2>
        <hr>
        <button class="btn btn-default btn-lg"><%= link_to "My Magazine Articles", controller: "articles" %></button>
      </div>
    </div>
  </div>
